[user]
  name = Jerry Nummi
  email = jerrynummi@me.com

[color]
  branch = auto
  diff   = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[merge]
  tool = opendiff

[core]
  legacyheaders = false
  autocrlf      = false
  excludesfile = /Users/nummi/.gitignore_global
  quotepath = false
  editor = mvim
  pager = diff-so-fancy | less --tabs=4 -RFX

[repack]
  usedeltabaseoffset = true

[alias]
  br   = branch
  ch   = cherry -v origin
  ci   = commit
  co   = checkout
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  mine = log --author=Jerry
  put  = "push origin HEAD"
  st   = status
  type = cat-file -t
  undo = reset HEAD@{1}
  list-br = branch --sort=committerdate

[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)

[git-pair]
  authors = Jerry Nummi <jnummi@gmail.com>

[credential]
  helper = osxkeychain

[url "https://"]
  insteadOf = git://

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[push]
  default = simple

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true

[rerere]
  enabled = true

[init]
  defaultbranch = main
